<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CHInfo" type="FBGEMSystem.MySectionHandler,FBGEMSystem" />
  </configSections>
  <connectionStrings>
    <add name="ConnStr"  connectionString="server=(local); initial Catalog=test; integrated security=SSPI;database=Pipe"/> 
  </connectionStrings>
  <CHInfo>
    <Add  Name="CH1" Number="64" NodeType="TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT"/>
    <Add  Name="CH2" Number="64" NodeType="TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT"/>
    <Add  Name="CH3" Number="64" NodeType="TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT"/>
  </CHInfo>
</configuration>